
@{
    ViewBag.Title = "Select Activity";
}
<br />
<br />
<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10" float="left">
        <button type="button" onclick="location.href='@Url.Action("Create")'">Add entry</button>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10" float="left">
        <button type="button" onclick="location.href='@Url.Action("Index")'">Add exit</button>
    </div>
</div>

